@import "background-svg.css";
@import "responsive.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 50px;
}

p {
    font-size: 20px;
}


.container {
    display: grid;
    grid-template-areas: "nav"
    "header"
    "section-a"
    "section-b"
    "section-c"
    "footer";

    grid-template-rows: 0.1fr 3fr 3fr 3fr 3fr 2fr;

}

/* Apply Flexbox to the nav element */

.topnav {
    grid-template-areas: nav;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.topnav a {
    display: block;
    padding: 14px 16px;
    border-radius: 20%;
}
.topnav a:hover {
    background-color:#0E2A47;
    color: white;
}

.topnav button:hover {
    background-color:#0E2A47;
    color: white;
}

/* styling admin login button */

.button-styling {
    background-color: #fff;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 14px 16px;
    cursor: pointer;
    border-radius: 20%;
}

/* Style for the logo */
.dimy-logo {
    width: 200px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add spacing between the logo and menu */
}

/* Style for the navbar menu */
.navbarMenu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbarMenu a {
    text-decoration: none;
    color: black; /* Add your desired text color */
    margin: 0 10px; /* Add spacing between menu items */
}

/* Style for the active link */
.navbarMenu a.active {
    font-weight: bold; /* You can customize the active link styles */
}



/* style for header section */

.hero-banner {
    grid-template-areas: header;
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: space-around; /* Horizontally distribute content */
}

.program-img {
    width: 75%; /* Adjust the width as needed */
    max-width: 500px; /* Set a maximum width if necessary */

}

.contact-form {
    padding: 40px;
    border-radius: 5%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.contact-us-title{
    font-size: 24px; /* Customize the heading size */
    margin-bottom: 10px;
}

.label-name {
    font-weight: bold; /* Make labels bold or style them as needed */
}

.input-form {
    width: 400px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc; /* Customize border styles */
    border-radius: 5px;
}

.ask-us-form input[type="submit"] {
    background-color: #007bff; /* Customize the submit button background color */
    color: #fff; /* Customize the text color */
    cursor: pointer;
}



/* Tech Stack Section */

.tech-stack {
    grid-template-areas: section-a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-logos {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.lang-logo {
    width: 200px;
}


/* Section Our Clients */
.our-clients {
    grid-template-areas: section-b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client-picture-lists {
    display: flex;
    justify-content: space-around;
}

.client-pic {
    width: 30%;
}


/* career opportunity section */

.career-opportunity {
    grid-template-areas: section-c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.career-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table.minimalistBlack {
    border: 3px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: #fff;
  }
  table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
  }
  table.minimalistBlack tbody td {
    font-size: 20px;
  }
  table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
  }
  table.minimalistBlack thead th {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: left;
  }
 
.white-text {
    color: #fff;
}

.background-white {
    background-color: #fff;
}

footer {
    grid-template-areas: footer;
}

iframe {
    padding-top: 50px;
}